<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zf_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.About"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PosListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PosSelect"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FindLogin"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FindPass"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FindPassword"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MenuMine"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OrderList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MineSet"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MyMessage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OrderDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".trade.TradeFlowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".trade.TradeClientActivity"
            android:label="@string/title_activity_trade_client" >
        </activity>
    </application>

</manifest>
